 html,body{
   margin: 0;
   padding: 0;
   font-family: Helvetica, Tahoma;
 }
 h1,h2,h3,h4{
   margin: 0;
   padding: 0;
 }
 #wrapper{
   width: 320px;
   height: 480px;
   background: #ccc;
	z-index: 1;
 }
 #logo{
 	background: #333;
	color: white;
 }
 #logo h1{
   text-align: right;
	opacity: .5;
	font-size: .8em;
 }
 #counter{
   width: 150px;
   margin: 0 auto;
   font-size: 3em;
   text-align: center;
 }
 #countertext{
   display: block;
   font-size: .6em;
 }
 #mainmenu{
   background: #ccc;
   //height: 55px;
   width: 320px;
 }
 #mainmenu ul{
   list-style: none;
   margin: 0 auto;
 }
 #mainmenu ul li{
   display: block-inline;
   float: left;
   //height: 55px;
   padding: 20px 0;
   //width: 75px;
   width: 31%;
   text-align: center;
 }
 #mainmenu ul li.selected{
   background: green;
 }
 .flyout{
   position: absolute;
   left: 0;
   top: 380px;
   display: block;
   //height: 100px;
   width: 320px;
   background: #555;
   text-align: center;
   display: none;
	z-index: 0;
 }
 .flyoutarrow{
   position: relative;
   left: 160px;
   top: 83px;
   display: block;
   height: 25px;
   width: 25px;
   background: #555;
   -webkit-transform: rotate(45deg);
	z-index: -1;
 }
 .flyout ul{
   list-style: none;
   margin: 0 auto;
 }
 .flyout ul li{
   display: block-inline;
   float: left;
   padding: 20px; 0;
   width: 17%;
   text-align: center;
 }
 #settings_list li, #utilities_list li{
 	display: block;
 	width: 100%;
	text-align: center;
	height: 20px;
	padding: 3px 0;
	clear: left;
 }
 #settings_list li:hover, #utilities_list li:hover{
 	background: black;
	color: white;
 }
 #settings_list li input{
 	float: right;
 }
 .clear{
   clear: both;
 }
 .progress_container{
 	width: 200px;
	padding: 5px 0;
	border: 1px solid #000;
	margin: 2px auto;
	display: block;
	overflow: hidden;
 }
 .progress{
 	background: green;
	display: block;
	height: 10px;
	width: 0;
 }
 #bac_num{
 	padding: 20px 0;
 	text-align: center;
	border-top: 1px solid #333;
	background: #369;
 }
 .alertbox{
 	padding: 20px;
	background: #000;
	opacity: .7;
	color: #fff;
	text-align: justify;
 	box-shadow: 0px 4px 5px #333;
	z-index: 9999;
	display: none;
 }
 .alertbox .button{
 	display: block-inline;
	width: 50px;
	padding: 5px 0;
 }
 #progress{
 	padding-top: 20px;
 	text-align: center;
	font-size: .7em;
	font-weight: bold;
	border-top: 1px solid #333;
 }
